:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} 

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh; 
  background: linear-gradient(135deg,#153677,#4e085f);
}

.todo-container {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  border-radius: 10px;
}

h2 {
  font-size: 2.2em;
  color: #002765;
  margin: 20px;
  padding: auto;
  text-align: center;
}

.new-item-form {
  display: flex;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin: 25px;
}

#item {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding-top: 18px;
  font-size: 1.1rem;
}

.add-btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff9945;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 40px;
}

.add-btn:hover {
  background: #ee8845;
}

li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 20px;
  display: flex;
  justify-content: space-around;
}

li label {
  margin: 5px;
  padding: 5px;
}

.list li:has(input:checked) label {
  text-decoration: line-through;
  color: #999;
}

.todo-props {
  padding: 10px;
}

.del-btn {
  border: none;
  outline: none;
  padding: 10px 15px;
  background: #edeef0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.del-btn:hover {
  background-color: #ccc;
}


